body{
    background-color: black;
    color: aliceblue;
}

p{
    background-color: rgb(65, 71, 71);
}
a{
    background-color: rgb(125, 240, 76);
}
div{
    background-color: blue;
    color: white;
}
span{
    background-color: brown;
}