.green{
    background-color: blue;
}

*{
    padding: 0px;
    margin: 0px;
     
}
.box{
    background-color: green;
}
.box1{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border: 5px solid blue;
}
.box2{
    background-color: cyan;
}